.wrapper {
        background-image: url(../assets/images/Golden_book.png);
         height: 80vh;
         background-repeat: no-repeat;
         background-position-y: 95.5%;
         background-position-x: 15.5%;
         background-size: 80vh;
        // padding-top: 2%;
         padding-bottom: 5%;
         padding-right: 4%;
    
    }