
  ::ng-deep.mat-form-field-flex {
    background-color: #F2EFDC
    !important;
   
  }
.mat-dialog-title{
background: #F2EFDC;
}

::ng-deep.mat-dialog-container{
    width: 600px;
    height: 250px;
    background: #F2EFDC
    !important;

    }
/* Inside auto layout */

